/* === Imports === */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Montserrat&family=Poppins:wght@500&display=swap');

/* === Colour and Variables === */
:root 
{

    --d-bg-main:     #0A2239;
    --d-bg-secondary:#FDF0D5;
    --d-bg-orange:   #FF8A00;
    --d-bg-red:      #9F1618;
    --d-bg-brown:    #743822;
    --d-bg-lightred: #BA1B1D;
    --d-logo-back:  #1E1E1E;
    --d-bg-blue:    #0A2239;

    --l-bg-main:     #FDF0D5;
    --l-bg-secondary:#2C4E6B;
    --l-bg-orange:   #FFA53B;
    --l-bg-red:      #CC3E45;
    --l-bg-brown:    #734231;
    --l-bg-lightred: #E54A51;
    --l-logo-back:  #FFA53B;
    --l-bg-blue:     #2C4E6B;


    --bg-light:      #FDF0D5;
    --bg-light-alt: #C4BAA9
    --bg-dark:      #0A2239;
   

    --d-text:     #0A2239;
    --l-text:#FDF0D5;

}

/* Dark mode (default) */
.dark 
{

    --bg-main:      var(--d-bg-main);
    --bg-secondary: var(--d-bg-secondary);
    --bg-orange:    var(--d-bg-orange);
    --bg-red:       var(--d-bg-red);
    --bg-redlight:  var(--d-bg-lightred);
    --bg-brown:     var(--d-bg-brown);
    --bg-darkgrey:  #1E1E1E;
    --bg-logo-back: var(--d-logo-back);
    --bg-blue:      var(--d-bg-blue);
    
    --text-main:         var(--l-text);
    --text-alt:         var(--d-text);

}

/* Light mode */
.light 
{

    --bg-main:      var(--l-bg-main);
    --bg-secondary: var(--l-bg-secondary);
    --bg-orange:    var(--l-bg-orange);
    --bg-red:       var(--l-bg-red);
    --bg-redlight:  var(--l-bg-lightred);
    --bg-brown:     var(--l-bg-brown);
    --bg-logo-back: var(--l-logo-back);
    --bg-blue:      var(--l-bg-blue);

    --text-main:         var(--d-text);
    --text-alt:        var(--l-text);
}

/* === Page Defaults === */

* 
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    color: var(--text-main);
}

element 
{
	height: auto;
	background-color: none;
}

html 
{
	margin: 0;
	font-size: 20px;
	min-height: 100%;
	font-family: 'Montserrat', sans-serif;
}

label 
{
    color: var(--bg-blue);
    opacity: 0.75;
}

body 
{
	background: var(--bg-main);	
    min-height: 50px;
}

/*======== Toast ========*/

.toast-container{
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 1061;
}

#error-message{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-red);
    color: var(--bg-light);
    text-align: center;
    padding-top: 20%;
}

#warning-text{
    font-size: 20px !important;
    font-family: 'Poppins', sans-serif !important;
}

#basicToast{
    background-color: var(--bg-red) !important;
    max-width: 500px;
    width: 80vw;
}

/* ======== Browser Overrides ======== */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 30px var(--bg-light) inset !important;
    box-shadow: 0 0 0 30px var(--bg-light) inset !important;
}

input:autofill,
input:autofill:hover, 
input:autofill:focus, 
input:autofill:active
{
    box-shadow: 0 0 0 30px var(--bg-light) inset !important;
}

.btn:focus {
    outline: none;
}


/* === Bootstrap overrides === */

/* .btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    border-color: var(--bg-dark) !important;
    border-width: 2px !important;
    color: var(--bg-dark) !important;
}

.btn-outline-primary:focus {
    background: var(--bg-dark) !important;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited{
    background: var(--bg-dark) !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    border: none !important;
    background-color: var(--bg-light) !important;
    color: var(--bg-dark) !important;
}
.btn-primary:hover{
    filter: brightness(1) !important;
} */

/* === Text & Typography ===  */
h1, .h1 
{
    font-family: 'Kanit', sans-serif;
    font-size: 3em;
}


h2 
{
    font-family: 'Poppins', sans-serif;

}

.text-std 
{
    color: var(--text-main);
    font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

/* ======== Lists ======== */

ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* ========= Links ======== */

a 
{
    color: var(--l-bg-blue);
    text-decoration: none !important;
    transition: color 0.1s ease, transform 0.2s ease-in-out;
}


a:visited
{
    color: var(--text-main);
    text-decoration: none;
}

a:hover, a:active
{
    color: var(--text-alt);
    text-decoration: none;
    transform: translate(-6px, -7px);
}

/* ========= Buttons & Input ========= */

.btn 
{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    background-color: var(--bg-light);
    border: solid 2px var(--bg-blue);
    color: var(--bg-blue);
}

.btn:hover 
{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    background-color: var(--bg-blue);
    border-color: var(--bg-blue);
    color: var(--l-text);
}

input
{
    background-color: var(--bg-light);
    transition: border-radius 200ms ease-in-out;
}

input:focus 
{
    border-radius: 10px;
    border: 2px solid var(--bg-blue) !important;
    box-shadow: none !important;
    color: var(--bg-blue) !important;
}


/* ======== Footer Styles ========= */

.page-footer 
{
    background-color: var(--bg-orange);
    color: var(--d-text);
}

.page-footer i {
    color: var(--d-text);
}

.page-footer h5 
{
    color: var(--d-text);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}


.page-footer small {
    color: var(--d-text);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}