/* === Imports === */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Montserrat&family=Poppins:wght@500&display=swap');

/* === Colour and Variables === */
:root 
{

    --d-bg-main:     #0A2239;
    --d-bg-secondary:#FDF0D5;
    --d-bg-orange:   #FF8A00;
    --d-bg-red:      #9F1618;
    --d-bg-brown:    #743822;
    --d-bg-lightred: #BA1B1D;
    --d-logo-back:  #1E1E1E;
    --d-bg-blue:    #0A2239;
    --d-bg-darkorange:   #b26000;

    --l-bg-main:     #FDF0D5;
    --l-bg-secondary:#2C4E6B;
    --l-bg-orange:   #FFA53B;
    --l-bg-red:      #CC3E45;
    --l-bg-brown:    #734231;
    --l-bg-lightred: #E54A51;
    --l-logo-back:  #FFA53B;
    --l-bg-blue:     #2C4E6B;
    --l-bg-darkorange:   #FF8a00;

    --bg-light:      #FDF0D5;
    --bg-light-alt: #C4BAA9
    --bg-dark:      #0A2239;
   

    --d-text:     #0A2239;
    --l-text:#FDF0D5;

}

/* Dark mode (default) */
.dark 
{

    --bg-main:      var(--d-bg-main);
    --bg-secondary: var(--d-bg-secondary);
    --bg-orange:    var(--d-bg-orange);
    --bg-red:       var(--d-bg-red);
    --bg-redlight:  var(--d-bg-lightred);
    --bg-brown:     var(--d-bg-brown);
    --bg-darkgrey:  #1E1E1E;
    --bg-logo-back: var(--d-logo-back);
    --bg-blue:      var(--d-bg-blue);
    --bg-darkorange:var(--d-bg-darkorange);
    
    --text-main:         var(--l-text);
    --text-alt:         var(--d-text);

}

/* Light mode */
.light 
{

    --bg-main:      var(--l-bg-main);
    --bg-secondary: var(--l-bg-secondary);
    --bg-orange:    var(--l-bg-orange);
    --bg-red:       var(--l-bg-red);
    --bg-redlight:  var(--l-bg-lightred);
    --bg-brown:     var(--l-bg-brown);
    --bg-logo-back: var(--l-logo-back);
    --bg-blue:      var(--l-bg-blue);
    --bg-darkorange:var(--l-bg-darkorange);

    --text-main:         var(--d-text);
    --text-alt:        var(--l-text);
}

/* === Page Defaults === */

* 
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    color: var(--text-main);
}

element 
{
	height: auto;
	background-color: none;
}

html 
{
	margin: 0;
	font-size: 20px;
	min-height: 100%;
	font-family: 'Montserrat', sans-serif;
}

label 
{
    color: var(--bg-blue);
    opacity: 0.75;
}

body 
{
	background: var(--bg-main);	
    min-height: 100vh;
    height: 100%;
}

/*======== Toast ========*/

.toast-container{
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 1061;
}

#error-message{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-red);
    color: var(--bg-light);
    text-align: center;
    padding-top: 20%;
}

#warning-text{
    font-size: 20px !important;
    font-family: 'Poppins', sans-serif !important;
}

#basicToast{
    background-color: var(--bg-red) !important;
    max-width: 500px;
    width: 80vw;
}

/* ======== Browser Overrides ======== */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 30px var(--bg-light) inset !important;
    box-shadow: 0 0 0 30px var(--bg-light) inset !important;
}

input:autofill,
input:autofill:hover, 
input:autofill:focus, 
input:autofill:active
{
    box-shadow: 0 0 0 30px var(--bg-light) inset !important;
}

.btn:focus {
    outline: none;
}


/* === Bootstrap overrides === */

.row
{
    margin: 0;
}

.col {
    padding: 0;
}

.image-fluid {
    background-color: none;
}

/* .btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    border-color: var(--bg-dark) !important;
    border-width: 2px !important;
    color: var(--bg-dark) !important;
}

.btn-outline-primary:focus {
    background: var(--bg-dark) !important;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited{
    background: var(--bg-dark) !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    border: none !important;
    background-color: var(--bg-light) !important;
    color: var(--bg-dark) !important;
}
.btn-primary:hover{
    filter: brightness(1) !important;
} */

/* === Text & Typography ===  */
h1, .h1 
{
    font-family: 'Kanit', sans-serif;
    font-size: 3em;
}


h2 
{
    font-family: 'Poppins', sans-serif;

}

.text-std 
{
    color: var(--text-main);
    font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

/* ======== Lists ======== */

ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* ========= Links ======== */

a 
{
    color: var(--l-bg-blue);
    text-decoration: none !important;
    transition: color 0.1s ease, transform 0.2s ease-in-out;
}


a:visited
{
    color: var(--text-main);
    text-decoration: none;
}

a:hover, a:active
{
    color: var(--text-alt);
    text-decoration: none;
    transform: translate(-6px, -7px);
}

/* ========= Buttons & Input ========= */

.btn 
{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    background-color: var(--bg-light);
    border: solid 2px var(--bg-blue);
    color: var(--bg-blue);
}

.btn:hover 
{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    background-color: var(--bg-blue);
    border-color: var(--bg-blue);
    color: var(--l-text);
}

input
{
    background-color: var(--bg-light);
    transition: border-radius 200ms ease-in-out;
}

input:focus 
{
    border-radius: 10px;
    border: 2px solid var(--bg-blue);
    box-shadow: none;
    color: var(--bg-blue);
}

input
{
    background-color: var(--bg-light);
    color: var(--bg-blue);
    transition: border-radius 200ms ease-in-out;
}

input + label 
{
    margin-left: 15px;
    margin-bottom: 0;
    opacity: 1;
    transform: translateY(-80px);
    pointer-events: none;
    transition: transform 200ms ease-out, opacity 200ms ease-out;
}


input:focus + label
{
    opacity: 1;
    transform: translateY(-80px);
}

input:placeholder-shown + label
{
    opacity: 0.5;
    transform: translateY(-40px);
}

input:focus 
{
    border-radius: 10px;
    border: 2px solid var(--bg-blue);
    box-shadow: none;
}

.input-alt.form-control
{
    border: none;
    border-bottom: solid 2px var(--bg-blue);
}

.input-alt.form-control:focus
{
    background-color: var(--bg-light);
}

.dropdown-item
{
    color: var(--text-alt);
}


/* ========= Header Styles ========= */

header.header 
{
    position: fixed;
    top: 0;
    bottom: 15%;
    z-index: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: var(--bg-blue);
}

footer.hd-footer 
{
    position: fixed;
    bottom: 0;
    height: 15%;
    background-color: var(--bg-orange);
    box-shadow: -5px 0px 1px 0px var(--bg-darkorange) inset;
}

header .hd-logo 
{
    padding: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

header .hd-nav
{
    display: flex;
    padding: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
   
}

header .hd-nav-link
{
    width: 100%;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

header .hd-nav-link:hover
{
    color: var(--bg-red);
    transform: translate(-1px, -1px);
    box-shadow: 0 0 0 1px var(--bg-darkgrey);
}

header .hd-nav-link :hover
{
    color: var(--bg-red);
    transform: rotate(1deg);
}


header .hd-nav .current 
{
    color: var(--text-alt);
    
}

header .bkm-current .bkm-tag, header .bkm-current .bkm-icon
{
    transform: translate(-30px, 0px);
}

header .hd-nav .current:hover 
{
    opacity: 0.5;
}

header .bookmarks {
  
    position: absolute;
    right: 0;
}

header .bkm
{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0;
    transform: translate(25%, 0) scale(0.8);
    transition: all 0.2s ease-in-out;
}

header .bkm:hover
{
    transform: translate(20%, 0) scale(0.8);
}


header .bkm-tag
{
    /* position: absolute; */
    z-index: 0;
}

header .bkm-icon 
{
    position: absolute;
    right: 15%;
}

.hd-other {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-groups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    max-height: 300px;
    color : var(--text-main);
    background-color: var(--bg-main);
    border: solid 2px var(--text-main);
}

.profile-groups>ul{

    width: 100%;
    text-align: center;
}

.profile-groups>ul>li{

    color : var(--text-main);
    background-color: var(--bg-main);
}

/* ======== Footer Styles ========= */

.page-footer 
{
    background-color: var(--bg-orange);
    color: var(--d-text);
}

.page-footer i {
    color: var(--d-text);
}

.page-footer h5 
{
    color: var(--d-text);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}


.page-footer small {
    color: var(--d-text);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}



/* ======== Main Content ======== */
.super-container
{
    /* position:absolute; */
    min-height: 100vh;
    height: 100%;
    margin: 0;
}

.super-container>.row
{
    min-height: 100vh;
    height: 100%;
}

.table-main {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
}

.table-back
{
    z-index: 1;
    bottom: 0;
}

.table-outer 
{
    /* width: 100%; */
    
    /* height: calc(30em + 60px); */
    background-color: var(--bg-brown);

    padding-left: 40px;
    padding-top: 20px;
    padding-right: 20px;
  

    border-radius: 30px 30px 0 0;
    
}

.table-inner 
{
    /* width: 100%; */
    height: auto;
    background-color: var(--bg-orange);
    border-radius: 30px 30px 0 0 ;
}

.table-bottom
{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.table-leg 
{
    width: 50px;
    /* height: 200px; */
    background-color: var(--bg-brown);
    border-radius: 0 0 90px 90px; 
    position: relative;
}

.table-leg-highlight
{
    width: 25px;
    /* height: 100px; */
    background-color: var(--bg-orange);
    border-radius: 90px 0 90px 0; 
    position: absolute;
    bottom: 0;
    right: 0;
}

.table-runner
{
    z-index: 1;
 
    /* width: 100%; */
    /* height: 100%; */
}

.table-runner-piece
{
    width: 80%;
    background-color: var(--bg-red);
}


.table-runner-piece:nth-child(1)>div
{
  
    background-color: var(--bg-red);
    height: calc(20px);
}

.table-runner-piece:nth-child(2)>div
{
    background-color: var(--bg-redlight);
    z-index: 1;
    /* height: 30em; */
}