/* === General Event Styling === */

.event-images-carousel
{
    z-index: 10;
    background-color: var(--bg-light);
    border-radius: 10px;
}

.event-page-back 
{
    background-color: var(--bg-orange);
    color: var(--bg-blue);
    border-radius: 40px;
    border : 2px solid var(--bg-blue);
}

.event-page-content 
{
    background-color: var(--bg-light);
    border-radius: 40px 0 0 40px;
    border : 2px solid var(--bg-blue);
}

.event-page-content img 
{
    border-radius: 40px 0 0 0;
    border : 2px solid var(--bg-blue);
    min-width: 100%;
    max-height: 300px;
    object-fit: cover;
    background-color: var(--bg-blue);
}


.event-page-details
{
    background-color: var(--bg-light);
    color: var(--bg-blue);
    border-radius: 0 0 0 40px;
    border-top: none;
}

.event-page-title h1
{
    color: var(--bg-blue);
}


.event-hashtags
{
    overflow: scroll;
}

.event-hashtag:hover
{
    cursor: pointer;
}

.event-page-edit
{
    left: 1em;
    top: 1em;
}

.event-page-edit .btn
{
    border-radius: 40%;
}

.event-page-edit .btn:hover
{
    background-color: var(--bg-orange);
}

.event-page-edit .btn:focus
{
    background-color: var(--bg-orange);
    color: var(--bg-light);
}

.event-page-delete
{
    left: 4.5em;
    top: 1em;
}

.event-page-delete .btn
{
    border-radius: 40%;
}

.event-page-delete .btn:hover
{
    background-color: var(--bg-orange);
}

.event-page-delete .btn:focus
{
    background-color: var(--bg-orange);
    color: var(--bg-light);
}

.event-page-user 
{
    background-color: var(--bg-blue);
    color: var(--bg-blue);
    border-radius: 0 40px 40px 0;
}

/* === Event Header Styling === */

.event-page-join-header
{
    background-color: var(--bg-blue);
    color: var(--bg-blue);
    border-radius: 0 0 0 35px;
    border : 2px solid var(--bg-blue);
}

.event-page-join-header button 
{
    font-size: 1em;
    transition: all 0.2s ease-in-out;
    padding: 0 2em;
}

.event-page-join-event:hover button
{
    background-color: var(--bg-orange);
    color: var(--bg-light);
    font-size: 1em;
}

.event-page-join-event:hover 
{
    cursor: pointer;
}

.event-page-add-review .add-to-group
{
    background-color: var(--bg-light);
    transition: all 0.2s ease-in-out;
}

.event-page-add-review .add-to-group:hover
{
    background-color: var(--bg-blue);
}

.event-page-add-review .add-to-group i
{
    color: var(--bg-blue);
    transition: all 0.2s ease-in-out;
}

.event-page-add-review .add-to-group:hover i
{
    color: var(--bg-light);
    font-size: 1em;
    cursor: pointer;
}

.event-page-user-count
{

    color: var(--bg-blue);
}

.event-page-join-header i
{
    color: var(--bg-light);
}

.event-page-user-info
{
    background-color: var(--bg-blue);
    color: var(--bg-light);
    border-radius: 0 40px 0 0;
}

.event-page-user-info img
{
    border-radius: 50%;
    border : 2px solid var(--bg-light);
    width: 3em;
    height: 3em;
    object-fit: cover;
}

/* .event-page-profile-line div
{
    border-top : 2px solid var(--bg-light);
    width: 95%;
} */

/* === Review Styling === */

.event-page-review-window
{
    background-color: var(--bg-light);
    color: var(--bg-blue);
    border : 2px solid var(--bg-blue);
}

.event-page-add-review i
{
    color: var(--bg-light);
}

/* === Add Review Modal === */

.event-review-form-container
{
    background-color: var(--bg-light);
    color: var(--bg-blue);
    border : 2px solid var(--bg-blue);
    border-radius: 10px;
}

.event-review-form
{
    border-radius: 10px;
}

#event-review-message
{
    font-size: 0.8em;
    margin-bottom: 0;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    line-height: 1.5em;
    background-color: var(--bg-light);
    width: 100%;
}

/* === Edit icons === */

.edit-icon
{
    display: none;
    pointer-events: none;
}

/* === Event Review Styling === */

.event-page-review-box
{
    padding-top: 80px;
    padding-bottom: 70px;
}

.event-page-review-window
{
    overflow: scroll;
    overflow-x: hidden;
}

.event-page-add-review
{
    bottom: 0;
}

.event-page-review-image 
{
    width: 50px;
    height: 50px;
    position: relative;
}

.event-page-review-image img
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: var(--text-main) 2px solid;
    object-fit: cover;
    border: solid 2px var(--bg-blue);
}

.event-page-review-date
{
    opacity: 0.6;
    color: var(--bg-blue);
    text-align: right;
}

.event-page-review-text {
    color: var(--bg-blue);
    border-radius: 10px;
    background-color: white;
}

.event-page-location:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.event-page-description
{
    color: var(--bg-blue);

}

/* === Event images carousel === */

.event-carousel
{
    background-color: var(--bg-light);
    color: var(--bg-blue);
    border : 2px solid var(--bg-blue);
    border-radius: 10px;
}

.image-template
{
    height: 400px;
    width: 75%;
    margin: 0 auto;
    object-fit: cover;
    border: 1px solid var(--d-bg-main-05);
}

.carousel-item>img{
    height: 400px;
    width: 75%;
    margin: 0 auto;
    object-fit: cover;
    background-color: var(--bg-light);
    border-radius: 10px;
}

.carousel-control-prev
{
    position: absolute;
    left: -0.5em;
    width: 10%;
    border-radius: 10px 0 0 10px;
}

.carousel-control-prev-icon
{
    background-color: var(--d-bg-main-05);
    border-radius: 50px;
    padding: 5px;
    margin: 5px;
}

.carousel-control-next-icon
{
    background-color: var(--d-bg-main-05);
    border-radius: 50px;
    padding: 5px;
    margin: 5px;
}

.carousel-control-next
{
    position: absolute;
    right: -0.5em;
    width: 10%;
    border-radius: 0 10px 10px 0;
}

.event-carousel-user-image
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--bg-blue);
    object-fit: cover;
}

.review-image-user
{
    background-color: var(--bg-light);
    color: var(--bg-blue);
    border-radius: 10px;
    border: 2px solid var(--bg-blue);
    z-index: 50;

    
}

.event-carousel-image
{
    filter: brightness(1);
    transition: all 0.5s ease-in-out;
}

.carousel-caption
{
    color: var(--bg-light);
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 0.5s ease-out;

}

.carousel-inner:hover .carousel-caption
{
    opacity: 1;
    transform: translate(0, 0);
}

.carousel-inner:hover .event-carousel-image
{
    filter: brightness(0.5);
}

/* === Event Groups List === */

.event-show-groups-box
{
    background-color: var(--bg-light);
    border-radius: 20px;
    width: 95%;
    border: var(--bg-blue) 2px solid;
    margin-bottom: 1em;
    max-height: 500px;
    overflow: auto;
}

.event-group-list
{
    display: flex;
    align-items: center;
    padding: 0.5em;
    padding-right: 0;
    border-bottom: var(--bg-blue) 2px solid;
    transition: all 0.1s ease-in-out;
    color: var(--bg-blue);
    font-family: "Poppins", sans-serif;
}

.event-group-list:hover
{
    background-color: var(--bg-blue);
    color: var(--bg-light);
    cursor: pointer;

}

.event-group-list i
{
    pointer-events: none;
}

.event-group-list:last-child
{
    border-bottom: none;
}

.event-group-list
{
   
}

.event-page-review-delete-button 
{
    color: var(--bg-blue);
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.event-page-review-delete-button:hover
{
    opacity: 1;
}