/* ==== Profile General ==== */

.profile-header 
{
    color: var(--text-main);
    background-color: var(--bg-logo-back);
    border-radius: 30px;
}

.profile-header-img 
{
    max-width: 50px;
}

.profile-header-img img
{
    min-width: 6em;
    height: 100%;
    border-radius: 50%;
    border: var(--text-main) 2px solid;
    object-fit: cover;
}

.profile-header-img-icon
{
    font-size: 2em;
    z-index: 100;
    color: var(--bg-light);
    opacity: 0;
    transition: all 0.5s ease;
}

.profile-img-container:hover
{
    cursor: pointer;
}

.profile-img-container img
{
    height: 6em;
    width: auto
}

.profile-img-container:hover .profile-header-img-icon
{
    opacity: 1;
}

.profile-img-background
{
    opacity: 0;
    background-color: var(--bg-light);
    width: 6em;
    height: 6em;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    transition: all 0.5s ease;
}

.profile-img-container:hover .profile-img-background
{
    opacity: 0.5;
}

.profile-img-change path
{
    width: 100px;
    height: 100px;
    fill: var(--text-main);
}

.profile-header-name h3
{
    font-size : 2em; 
}

.profile-header-friends
{
    font-size : 1.3em;
}

.profile-header-friends .friend-text
{
    transition: all 0.2s ease-in-out;
}

.profile-header-friends .friend-text:hover
{
    transform: translateY(-2px);
    text-decoration: underline;
    cursor: pointer;
}

.profile-header-friends .friend-request-count
{
    background-color: var(--bg-redlight);
    font-size: 0.7em;
    padding-left: 0.6em;
}

#profile-logout
{
    background-color: var(--bg-light);
    color: var(--bg-blue);
    border-radius: 30px;
    padding: 0.5em 1em;
    font-size: 1.5em;
    transition: all 0.2s ease-in-out;
}

#profile-logout:hover
{
    background-color: var(--bg-orange);
    color: var(--bg-light);
    cursor: pointer;
}

#profile-settings
{
    transition: all 0.2s ease-in-out;
    font-size: 2em;
}

#profile-settings:hover
{
    transform: rotate(50deg);
    cursor: pointer;
    color: var(--bg-orange);
}

.profile-options
{
    max-height :60px ;
}

.profile-option
{
    border-radius: 0 0 10px 10px;
    background-color: var(--bg-orange);
}

#profile-add-friend.friend:hover 
{
    background-color: var(--bg-light);
    color: var(--bg-light-alt);
}



/* ==== Profile Friends List ==== */


.profile-friends-list-box
{
    top: 50%;
    left: calc(50%);
    transform: translate(-65%, -50%);
}

.profile-friends-list
{
    background-color: var(--bg-orange);
    border : var(--bg-blue) 2px solid;
    border-radius: 20px;
    width: 70%;
}

.profile-friends-title
{

    color: var(--text-main);
    font-family: "Poppins", sans-serif;
}

.profile-friends
{
    background-color: var(--bg-light);
    border-radius: 20px;
    width: 95%;
    border: var(--bg-blue) 2px solid;
    margin-bottom: 1em;
    max-height: 500px;
    overflow: auto;
}

.profile-friend
{
    display: flex;
    align-items: center;
    padding: 0.5em;
    padding-right: 0;
    border-bottom: var(--bg-blue) 2px solid;
    transition: all 0.1s ease-in-out;
}

.profile-friend:hover
{
    background-color: var(--bg-blue);
    cursor: pointer;

}

.profile-friend:hover .profile-friend-name
{
    color: var(--bg-light);
}

.profile-friend:hover .profile-friend-image
{
    border-color: var(--bg-light);
}

.profile-friend:last-child
{
    border-bottom: none;
}

.profile-friend-image
{
    pointer-events: none;
    border-radius: 50%;
    border: var(--bg-blue) 2px solid;
}

.profile-friend-image img
{
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.profile-friend-name
{
    color: var(--bg-blue);
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    margin-left: 1em;
}

.accept-request
{
    font-size: 1em;
    border-radius: 15px;
}

.accept-request:hover
{
    font-size: 1em;
    border: solid 2px var(--bg-light);
}

.cancel-request
{
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    /* height: 2em;
    width: 2em; */
}

.cancel-request:hover
{
    background-color: var(--bg-light);
    color: var(--bg-blue);
}

.unread-message-icon
{
    font-size: 1.5em;
    transition: all 0.2s ease-in-out;
}

.unread-message-icon:hover
{
    transform: scale(1.2);
    cursor: pointer;
}

.no-friends-message
{
    color: var(--bg-blue);
}

/* ==== Profile Buttons ==== */

/* new event button in bottom right corner */

.profile-create-event
{
    bottom: 2em;
    right: 2em;
    color: var(--bg-light);
    background-color: var(--bg-blue);
    border-radius: 90%;
    font-size: 3em;
    width: 100px;
    height: 100px;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-create-event:hover
{
    background-color: var(--bg-light);
    color: var(--bg-blue);
    cursor: pointer;
}

/* ==== Profile Events ==== */

.event-card-template
{
    min-height: 345px;
    opacity: 0.5;
    transition: all 0.2s ease-in;
    font-size: 3em;
    margin-bottom: 30px
}

.event-card-template:hover
{
    cursor: pointer;
    font-size: 3.3em;
    opacity: 1;
}

.event-card-template-plus
{
    z-index: 5;
}

.event-card-template:hover .event-card-template-plus
{
    color: var(--bg-light);
    opacity: 1;
}


.event-card-background-square 
{
    /* background-color: var(--bg-blue); */
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
}

.event-card-background-square div
{
    background-color: var(--bg-light-alt);
    border-radius: 10px;
}

.event-card-background-square div:nth-child(1)
{
    width: 95%;
    height: 60%;
}

.event-card-background-square div:nth-child(2)
{
    width: 95%;
    height: 10%;
}

.event-card-background-square div:nth-child(3)
{
    width: 95%;
    height: 20%;
}

.event-card-template:hover .event-card-background-square div
{
    background-color: var(--bg-blue);
}



/* ==== Profile Event Groups ==== */

.group-card-template
{
    height: 300px;
    opacity: 0.5;
    transition: all 0.2s ease-in;
    font-size: 3em;
    margin-bottom: 30px
}

.group-card-template:hover
{
    opacity: 1;
    cursor: pointer;
    font-size: 3.3em;
}

.group-card-background-square
{
    background-color: var(--bg-blue);
    border-radius: 10px;
    width: 44%;
    height:  44%;
    opacity: 0.5;
    transition: all 0.2s ease-in;
}

.group-card-template:hover .group-card-background-square
{
    opacity: 0.8;
}

/* --- Event group modal --- */

.create-group-form-container form
{
    background-color: var(--bg-light);
    border: solid 2px var(--bg-blue);
    border-radius: 20px;
}

#group-title
{
    background-color: var(--bg-light);
    border: solid 2px var(--bg-blue);
}

#group-title:focus
{
    background-color: var(--bg-light);
    outline: solid 1px var(--bg-blue);
    box-shadow: none;
}

#group-description
{
    background-color: var(--bg-light);
    border: solid 2px var(--bg-blue);
}

#group-description:focus
{
    background-color: var(--bg-light);
    outline: solid 1px var(--bg-blue);
    box-shadow: none;
}

#createGroupModal .character-counter
{
    color: var(--bg-blue);
    font-size: 1em;
}

#group-title-counter 
{
    transform: translateY(10px);
}

#group-description-counter {
    transform: translateY(-50px);
}

.has-counter input:placeholder-shown + #group-title-counter 
{
    transform: translateY(50px);
}

.has-counter textarea:placeholder-shown + #group-description-counter
{
    transform: translateY(-20px);
}

/* ==== Profile Group Events ==== */

.group-header-content
{
    background-color: var(--bg-blue);
    border-radius: 30px;
    color: var(--bg-light);
}

.group-header-back-arrow
{
    color: var(--bg-light);
    transition: all 0.2s ease-in-out;
}

.group-header-back-arrow:hover
{
    color: var(--bg-orange);
    transform: scale(1.1);
    cursor: pointer;
}

.group-header-delete
{
    color: var(--bg-light);
    transition: all 0.2s ease-in-out;
}

.group-header-delete:hover
{
    color: var(--bg-orange);
    transform: scale(1.1);
    cursor: pointer;
}

.event-delete-icon
{
    color: var(--bg-light);
    transition: all 0.2s ease-in-out;
}

.event-delete-icon:hover
{
    color: var(--bg-orange);
    transform: scale(1.1);
    cursor: pointer;
}